##=====================================================================
## VERSIONS
##=====================================================================
POSTGRES_VERSION=17.0
RD_VERSION=8.2.3-alpine
PGADMIN_VERSION=9.3
CONFLUENT_VERSION=7.7.7
DEBEZIUM_VERSION=3.1.2
KF_UI_VERSION=v1.4.2
TERRAFORM_VERSION=1.14
ELASTICSEARCH_VERSION=8.18.8
KIBANA_VERSION=8.18.8

##=====================================================================
## INFRASTRUCTURE
##=====================================================================
# ── PostgreSQL ────────────────────────────────────────────────────────
PG_HOST=postgres
PG_PORT=5432
PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password
PG_DB=postgres
PG_INIT_PATH=./init-db.sql

# ── Redis ─────────────────────────────────────────────────────────────
RD_HOST=redis
RD_PORT=6379
RD_PASSWORD=your_redis_password

# ── Elastic search ────────────────────────────────────────────────────
ES_PORT=9200
ES_PASSWORD=your_elasticsearch_password

# ── Kibana ────────────────────────────────────────────────────────────
KIBANA_PORT=5601

# ── pgAdmin ───────────────────────────────────────────────────────────
PGADMIN_PORT_HOST=8000
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

# ── Kafka ─────────────────────────────────────────────────────────────
KF_HOST=localhost
KF_PORT=9092
KF_CLUSTER_ID=generate_a_new_kafka_cluster_id
KF_CONTROLLER_PORT=29093
KF_INTERNAL_PORT=9090
KF_REPLICATION_FACTOR=1
KF_BOOTSTRAP_SERVERS=kafka-0:9090
KF_UI_PORT=8800

# ── Schema Registry ───────────────────────────────────────────────────
SC_REGISTRY_HOST=localhost
SC_REGISTRY_PORT=8181
SC_REGISTRY_URL=http://schema-registry:8081
SC_REGISTRY_HOST_URL=http://localhost:8181

# ── Kafka Connect ─────────────────────────────────────────────────────
KF_CONNECT_PORT=8183
KF_CONNECT_URL=http://connect:8083

##=====================================================================
## SECURITY (SHARED)
##=====================================================================
SECRET_KEY=generate_a_random_secure_hmac_string

##=====================================================================
## DISCOVERY SERVICE
##=====================================================================
DISCOVERY_PORT=8761
DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka/

##=====================================================================
## AUTH SERVICE
##=====================================================================
AUTH_SERVICE_PORT=8081
MANAGEMENT_PORT=8070
AUTH_DB=auth_db
JWT_ISSUER_URI=http://auth-service:8081

# Keystore
KEYSTORE_PATH=/app/config/your-keystore.jks
KEYSTORE_PASSWORD=your_keystore_password
KEY_ALIAS=your_key_alias

# Tokens
ACCESS_TOKEN_TTL=30m
REFRESH_TOKEN_TTL=7d
REQUIRE_CONSENT=true
REQUIRE_PKCE=true

##=====================================================================
## OAUTH2 CLIENT (SHARED BY AUTH & BFF)
##=====================================================================
BFF_CLIENT_ID=bff-client
BFF_CLIENT_SECRET=your_bff_client_secret
BFF_REDIRECT_URI=http://bff-service:8080/login/oauth2/code/bff-client
POST_LOGOUT_REDIRECT_URI=http://bff-service:8080

##=====================================================================
## BFF & GATEWAY
##=====================================================================
BFF_PORT=8080
SESSION_SECURE=false

##=====================================================================
## GATEWAY SERVICE
##=====================================================================
GATEWAY_SERVICE_URL=http://gateway-service:8082
GATEWAY_PORT=8082

##=====================================================================
## USER SERVICE
##=====================================================================
USER_SERVICE_PORT=8090
USER_SERVICE_GRPC_PORT=9094
USER_DB=user_db
KF_USER_CONSUMER_GROUP_ID=user-service-group
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

##=====================================================================
## JOB SERVICE
##=====================================================================
JOB_SERVICE_PORT=8092
JOB_SERVICE_GRPC_PORT=9096
JOB_DB=job_db
KF_JOB_CONSUMER_GROUP_ID=job-service-group

##=====================================================================
## SEARCH SERVICE
##=====================================================================
SEARCH_SERVICE_PORT=8094
ELASTICSEARCH_URIS=http://localhost:9200
KF_SEARCH_CONSUMER_GROUP_ID=search-service-group

##=====================================================================
## APPLICATION SERVICE
##=====================================================================
APPLICATION_SERVICE_PORT=8096
APPLICATION_DB=app_db

##=====================================================================
## FRONTEND
##=====================================================================
FRONTEND_URL=http://localhost:4200

##=====================================================================
## LOGGING
##=====================================================================
LOG_LEVEL_SECURITY=INFO
LOG_LEVEL_OAUTH2=INFO
LOG_LEVEL_GATEWAY=INFO